body{
    font-family:'Montserrat', sans-serif;
}
h2{
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
  font-size:3rem;
  line-height:1.5;
}
h3{
  font-family:'Montserrat', sans-serif;
  font-weight:bold;
  font-size:1.5rem;
}
p{
  color:#8f8f8f;
}
.carousel-item{
  padding: 7% 15%;
}
.container-fluid{
  padding:5% 15%;


}
.feature-box{
  text-align:center;
  padding:.5%;

}
.feature-logo{
  color:#ef8172;
  margin-bottom:1rem;
}
.feature-logo:hover{
  color:#ff4c68;
}
.iphone-mockup-image{
  width: 60%;
  transform:rotate(25deg);
  margin-left: 20%;

}
.intro-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
  padding-top:20%;

}
.intro-buttons{
  margin:5% 3% 0 3%;
}
/* navigation bar */
.navbar{
  padding-bottom: 2.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size:2.5rem;
  font-weight:bold;

}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size:1.2rem;
}
.press-logo{
  width:15%;
  margin:20px 20px 50px;

}
.pricing-column{
  padding: 3% 2%;

}
.testimonial-image{
  border-radius:100%;
  width:20%;
  margin:20px;

}
#press{
  background-color:#ef8172;
  text-align:center;
  padding-bottom:3%;
}
#title{
  background-color:#ff4c68;
  color:#ffffff;
}
#features{
  padding:7% 15%;
}
#testimonials{

  text-align:center;
  background-color:#ef8172;
  color:#FFF;
}
#pricing{
  text-align:center;
  padding:100px;
}
